{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<h1>About me</h1>
<p>Here are my hobbies, projects, and ambitions.</p>

<section class="mt-4">
    <h3>My passions</h3>
    <ul class="list-unstyled">
        <li class="d-flex align-items-center mb-4">
            <img src="{{ asset('images/jeux-video.jpg') }}" alt="Video Games" class="img-fluid rounded shadow" style="width: 200px; height: auto; margin-right: 20px;">
            <div>
                <h5>Video Games</h5>
                <p>I am passionate about video games.</p>
            </div>
        </li>
        <li class="d-flex align-items-center mb-4">
            <img src="{{ asset('images/informatique.jpg') }}" alt="Computer Science" class="img-fluid rounded shadow" style="width: 200px; height: auto; margin-right: 20px;">
            <div>
                <h5>Computer Science</h5>
                <p>I enjoy computer science and everything related to technology.</p>
            </div>
        </li>
        <li class="d-flex align-items-center mb-4">
            <img src="{{ asset('images/boxe.jpg') }}" alt="Boxing" class="img-fluid rounded shadow" style="width: 200px; height: auto; margin-right: 20px;">
            <div>
                <h5>Boxing</h5>
                <p>I practice boxing.</p>
            </div>
        </li>
        <li class="d-flex align-items-center mb-4">
            <img src="{{ asset('images/basket.jpg') }}" alt="Basketball" class="img-fluid rounded shadow" style="width: 200px; height: auto; margin-right: 20px;">
            <div>
                <h5>Basketball</h5>
                <p>I enjoy playing basketball.</p>
            </div>
        </li>
        <li class="d-flex align-items-center mb-4">
            <img src="{{ asset('images/sports-automobiles.jpg') }}" alt="Motorsports" class="img-fluid rounded shadow" style="width: 200px; height: auto; margin-right: 20px;">
            <div>
                <h5>Motorsports</h5>
                <p>I am passionate about motorsports.</p>
            </div>
        </li>
    </ul>
</section>
{% endblock %}